.disclaimer-popup {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 100% !important;
  overflow: hidden;
}

.disclaimer-popup .modal-body {

  overflow-y: auto;
}

.disclaimer-popup .modal-body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.disclaimer-popup .modal-body {
  padding: 20px;
}

.disclaimer-popup h2 {
  font-size: 24px;
  margin-bottom: 0px;
  color: #ffffff;
}

.modal-body p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #666;
}

.disclaimer-popup .btn-close {
  color: #999;
  opacity: 0.7;
  font-size: 24px;
}

.disclaimer-popup .btn-close:hover {
  color: #333;
  opacity: 1;
}
