@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
* {
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Inter", sans-serif !important;
}
.slick-dots li button {
  width: 18px;
  height: 18px;
}
.slick-dots li button:before {
  font-size: 10px !important;
  color: #214493 !important;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #11245b !important;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: #11245b !important;
}
.coming-soon {
  padding: 16px;
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999999;
}
.coming-soon-with-topBar {
  padding: 16px;
  width: 100%;
  margin: auto;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999999;
}
.card {
  border-radius: 0.75rem;
  background-color: #fff;
  overflow: hidden;
}
.info__padding {
  padding: 40px 40px 30px 40px;
}
.info__padding {
  text-align: center;
}
.button__group button {
  color: #007aff;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: none;
  border-top: 1px solid rgb(220, 224, 226);
  border-left: 1px solid rgb(220, 224, 226);
  padding: 18px 10px;
  cursor: pointer;
  float: left;
  width: 50%;
}
.button__group:after {
  content: "";
  clear: both;
  display: table;
}
.button__group button:not(:last-child) {
  border-left: none;
}
.button__group button:hover {
  background-color: rgb(250, 250, 250);
}
.button__group button:active {
  background-color: rgb(245, 245, 245);
}

@media only screen and (max-width: 600px) {
  .coming-soon {
    padding: 16px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 707px) {
  .main-12 {
    padding: 0%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .homepage-main-container,
  .bottomBar-main-container {
    width: 100% !important;
    margin: 0 auto;
  }
  .treatment_main_container {
    position: relative;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .login-main-container{
    width: 70% !important;
    margin: 0 auto;
    padding-top: 200px !important;
    padding-bottom: 100px !important;
  }
  .bottomBar-main-container,
  .homepage-main-container,
  .tutorialScreen_main_container,
  .OncoChatScreen_main_container,
  .treatment_main_container,
  .labs_main_container,
  .news_main_container,
  .lab_main_container,
  .medication_main_container,
  .treatment_main_container_1,
  .profile-main-container,
  .popup-container {
    width: 100%;
    margin: 0 auto;
  }
  .symptoms_main_container {
    width: 100% !important;
    height: 100vh;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 3267px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .homepage-main-container,
  .bottomBar-main-container {
    width: 100% !important;
    margin: 0 auto;
  }
  .treatment_main_container {
    position: relative;
  }
  
  .login-main-container{
    width: 40% !important;
    margin: 0 auto;
    padding-top: 0px !important;
    padding-bottom: 150px !important;
  }
  .bottomBar-main-container,
  .homepage-main-container,
  .tutorialScreen_main_container,
  .OncoChatScreen_main_container,
  .treatment_main_container,
  .labs_main_container,
  .news_main_container,
  .lab_main_container,
  .medication_main_container,
  .treatment_main_container_1,
  .profile-main-container,
  .popup-container {
    width: 100% !important;
    margin: 0 auto;
  }
  .symptoms_main_container {
    width: 100% !important;
    height: 100vh;
  }
}

.typing-2 {
  align-items: center;
  display: flex;
  height: 17px;
  margin-top: 15px;
}

.typing-2 .dot-2 {
  animation: mercuryTypingAnimation-2 1.8s infinite ease-in-out;
  background-color: #214493;
  border-radius: 50%;
  height: 11px;
  margin-right: 4px;
  vertical-align: middle;
  width: 11px;
  display: inline-block;
}

.typing-2 .dot-2:nth-child(1) {
  animation-delay: 200ms;
}

.typing-2 .dot-2:nth-child(2) {
  animation-delay: 300ms;
}

.typing-2 .dot-2:nth-child(3) {
  animation-delay: 400ms;
}

.typing-2 .dot-2:last-child {
  margin-right: 0;
}

@keyframes mercuryTypingAnimation-2 {
  0% {
    transform: translateY(0px);
    background-color: #214493;
  }
  28% {
    transform: translateY(-7px);
    background-color: #304fe8;
  }
  100% {
    transform: translateY(0px);
    background-color: #6478db;
  }
}


input[type='text'],
input[type='number'],
textarea {
  font-size: 16px !important;
}
.form-control {
  font-size: 16px !important;
}

@media screen and (max-width: 599px) {
  input, select, textarea {
    font-size: 16px !important;
  }
  .form-control {
    font-size: 16px !important;
  }
}